body {
    background-image: url(background.jpg);
}

h1, h2, .text, footer{
    text-align: center;
    margin: 40px;
    font-family: "Peralta";
}

h1 {
    font-size: 48px;
    border-bottom-color: black;
    border-bottom-style: solid;
    padding: 30px
}

h2 {
    font-size: 36px;
}

.interface {
    display: flex;
    flex-direction: horizontal;
    align-items: center;
    justify-content: space-evenly;
    padding: 30px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.panel {
    width: 80px;
    height: 40px;
}

.text {
    font-size: 24px;
}

img {
    height: 250px;
    width: 250px;
    mix-blend-mode: multiply;
}

button:hover {
    transform: scale(1.2);
    border-color: red;
    border-radius: 2px;
    border-style: dashed;
}